html {
  position: relative;
  min-height: 100%;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.tff);
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.navbar-brand img{
	height: 40px;
}

.navbar-brand {
	padding: 5px;
}

.navbar-default {
	background-color: #fff;
	margin-bottom: 0px;
}

.navbar {
	line-height: 14px;
}

.navbar {
	border: none;
}

.cover {
    height: calc(100vh - 71px);
    width: 100%;
    background-image: url(../images/banner.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.cover .container {
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5)
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    color: white;
}

.cover h1 {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Montserrat', Helvetica;
}

.contents h2 {
    font-weight: bold;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 10px;
    font-variant: small-caps;
    font-family: 'Montserrat', Helvetica;
}

#photosCarousel.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
#photosCarousel .carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
#photosCarousel.carousel .item {
  height: 500px;
  background-color: #777;
}
#photosCarousel .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

#myCarousel .carousel-caption {
    left:0;
    right:0;
    bottom:0;
    text-align:left;
    padding:10px;
    background:rgba(0,0,0,0.6);
    text-shadow:none;
}

#myCarousel .list-group {
    position:absolute;
    top:0;
    right:0;
    padding-right: 0px;
}
#myCarousel .list-group-item {
    border-radius:0px;
    cursor:pointer;
}
#myCarousel .list-group .active {
    background-color:#eee;  
}

@media (min-width: 992px) { 
    #myCarousel {padding-right:33.3333%;}
    #myCarousel .carousel-controls {display:none;}  
}
@media (max-width: 991px) { 
    .carousel-caption p,
    #myCarousel .list-group {display:none;} 
}

/*Social*/


/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
    list-style: none;
    display: inline-block;
    margin-left:0 !important;
    padding: 0;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 28px;
    height: 28px;
    font-size:12px;
}
.social-circle li i {
    margin:0;
    line-height:28px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
 background-color: #a3a3a3;   
}
/*End Social*/

.navbar-default .navbar-nav>li {
	font-variant: small-caps;
	font-weight: bold;
	margin: 0px 15px 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
}

.footer .copyright {
    color: #aaa;
    font-size: 75%;
    text-align: center;
}


@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar-brand {
    	float: none;
    	display: inline-block;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .main-brand {
    	display: none;
    }

    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover {
    	border-bottom: 3px #000 solid;
    	color: #000;
    	background-color: #fff;
    }

}

@media (max-width: 768px) {
    .second-brand {
    	display: none;
    }

    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover {
    	color: #000;
    	background-color: #e7e7e7;
    }

}