@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.tff);
}
.navbar-brand img{
	height: 40px;
}

.navbar-brand {
	padding: 5px;
}

.navbar-default {
	background-color: #fff;
	margin-bottom: 0px;
}

.navbar {
	line-height: 14px;
}

.navbar {
	border: none;
}

.cover {
    height: calc(100vh - 71px);
    width: 100%;
    background-image: url(../images/banner.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.cover .container {
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5)
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    color: white;
}

.cover h1 {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Montserrat', Helvetica;
}

.navbar-default .navbar-nav>li {
	font-variant: small-caps;
	font-weight: bold;
	margin: 0px 15px 0px;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar-brand {
    	float: none;
    	display: inline-block;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .main-brand {
    	display: none;
    }

    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover {
    	border-bottom: 3px #000 solid;
    	color: #000;
    	background-color: #fff;
    }

}

@media (max-width: 768px) {
    .second-brand {
    	display: none;
    }

    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover {
    	color: #000;
    	background-color: #e7e7e7;
    }

}